/* ************************* >>>>>>>>>>>>>>>>>>>>>>>>> MOBILE FIRST DESIGN <<<<<<<<<<<<<<<<<<<<<<<<< ************************* */

/* ************************* >>>>>>>>>>>>>>>>>>>>>>>>> Reset and Normalize <<<<<<<<<<<<<<<<<<<<<<<<< ************************* */

/* Universal box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset margins, paddings and borders */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* List style reset */
ol, ul {
  list-style: none;
}

/* Blockquote and quotes reset */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Additional resets and common stylings */
img, video {
  height: auto;
  max-width: 100%;
}

/* Form element reset */
input, button, textarea, select {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #ccc;
  color: inherit;
}

/* Remove default link styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Heading margins */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

/* Ensure iframes don't have a border */
iframe {
  border: none;
}

/* Ensure body uses the default style settings */
body {
  font-family: sans-serif;
  line-height: 1;
}

/* Ensure consistent outline for focusable elements */
:focus {
  outline: 2px solid blue;
}

/* Handle HTML5 hidden attribute */
[hidden] {
  display: none;
}


/* ************************* >>>>>>>>>>>>>>>>>>>>>>>>> GLOBAL <<<<<<<<<<<<<<<<<<<<<<<<< ************************* */
/* ********** Root Global Styles ********** */
/* Path: html, body */

:root {
  --green: #27ae60;
  --blue: #0000ff;
  --ot-blue: #3498db;
  --yellow: #f7af15;
  --red: #e74c3c;
  --orange: #fe5722;
  --purple: #9b27af;
  --gray: #747681;
  --black: #333;
  --white: 	#FAF9F6;
  --font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}


/* ********** Global HTML and Body Styles ********** */
/* Path: html, body */
/* Description: Base styles applied to the entire HTML document and the body. */
html { 
  background-color: var(--white);
  font-size: 16px; 
  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased; 
  min-width: 300px; 
  overflow-x: hidden; 
  overflow-y: scroll; 
  text-rendering: optimizeLegibility; 
  -webkit-text-size-adjust: 100%; 
  -moz-text-size-adjust: 100%; 
  text-size-adjust: 100%; 
}

body { 
  color: var(--green); 
  font-size: 1em; 
  font-weight: 400; 
  line-height: 1.5; 
  background-color: var(--white);
}

body, button, input, optgroup, select, textarea { 
  font-family: "europa", sans-serif; 
}


/* ********** Global Anchor and Button Styling ********** */
/* Path: Body -> Buttons -> Variants */
a, .button { 
  transition: all .2s ease-in-out; 
  -webkit-transition: all .2s ease-in-out; 
  font-weight: 400; 
  color: #0000CD; 
  cursor: pointer; 
  text-decoration: none; 
}

.button {
  display: inline-flex;
  align-items: center; 
  justify-content: flex-start; 
  border-radius: 50px; 
  box-shadow: none; 
  font-size: 1rem; 
  height: 3em; 
  width: 10em; 
  line-height: 1.5; 
  border: 2px solid #0000CD; 
  padding-bottom: calc(0.5em - 1px); 
  padding-left: calc(0.75em - 1px); 
  padding-right: calc(0.75em - 1px); 
  padding-top: calc(0.5em - 1px); 
  position: relative; 
  /* vertical-align: top;  */
}



/* figcaption .button{
  color: white;
} */

  /* .button .icon {
  height: 1.5em; width: 1.5em; 
} */

a:hover { 
  color: #0000CD; 
  font-weight: 600; 
}

.button:hover { 
  background-color: #0000CD;
  color: white; 
}

.button.btn-rounded { 
  border-radius: 9999px; 
  padding-left: 1.25em; 
  padding-right: 1.25em; 
}

.button.btn-outlined { 
  background-color: transparent; 
  border-color: #0000CD; 
  color: #0000CD; 
}

.button.is-primary:hover { 
  background-color: #0000CD; 
  border-color: transparent; 
  color: white; 
}

.button.is-secondary:hover { 
  background-color: #0061ff; 
  border-color: transparent; 
  color: white; 
}

.button.is-primary.btn-outlined:hover { 
  background-color: #0000CD; 
  border-color: #0000CD; 
  color: white; 
  font-weight: 400; 
}

.button.is-medium { 
  font-size: 1.25rem; 
}

/* ********** Container Styles ********** */
/* Path: Body -> Containers */
.container.is-narrow { 
  max-width: 1200px; 
}
.container { 
  flex-grow: 1; 
  margin: 0 auto; 
  position: relative; 
  width: auto; 
}

/* ********** Grid Layout Styles ********** */
/* Path: Body -> Grid Layout */
.columns {
  display: flex; flex-wrap: wrap; margin-left: -0.75rem; margin-right: -0.75rem; margin-top: -0.75rem; 
}

.column { 
  display: block; 
  flex-grow: 1; 
  flex-shrink: 1; 
  flex-basis: 0; 
  padding: 0.75rem; 
}

.tile { 
  align-items: stretch; 
  display: block; 
  flex-basis: 0; 
  flex-grow: 1; 
  flex-shrink: 1; 
  min-height: -webkit-min-content; 
  min-height: -moz-min-content; 
  min-height: min-content; 
}

.image.is-3by2 img { 
  bottom: 0; 
  left: 0; 
  position: absolute; 
  right: 0; 
  top: 0; 
}

/* ********** Image and Icon Styles ********** */
/* Path: Body -> Images and Icons */
span.icon { 
  align-items: center; 
  display: inline-flex; 
  justify-content: center; 
  height: 1.5rem; 
  width: 1.5rem; 
}

span.more-icon i { 
  padding-left: 25px;
  margin-top: 10px;
}

img { height: auto; max-width: 100%; }

.image { display: block; position: relative; }

.image img { display: block; height: auto; width: 100%; }

.image.is-3by2 { padding-top: 66.6666%; }
span.icon { margin-top: 4px; margin-left: 0px; }
/* ********** Section Styling ********** */
/* Path: Body -> Section */
/* Description: Styles for section elements. */
.section { 
  padding: 5rem 1.5rem; 
  text-align: center; 
}

.is-size-5 { font-size: 1.25rem; 
}

span { font-style: inherit; font-weight: inherit; }

.subtitle { 
  color: #141c3a; 
  font-size: 1.25rem; 
  font-weight: 400; 
  line-height: 1.25; 
}

.title { 
  color: #141c3a; 
  font-weight: 800; 
}

/* ************************* >>>>>>>>>>>>>>>>>>>>>>>>> Section Styling (Navigation) <<<<<<<<<<<<<<<<<<<<<<<<< ************************* */
header{
  margin-top: 0;
  padding-top: 0;
  z-index:9;
  border-bottom: 0.5px solid #E6ECF8;
  
}
header .nav-logo img{
  width:67.5px; 
  height: 50px;
}

body{
  background-color: white;
}

.contain {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.hamburger{
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin: auto 10px;
}

.hamburger .bar, .hamburger::after, 
.hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  margin: 5px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
 transform: rotate(-45deg) translate(-5px, 7px); 
}

.hamburger.is-active::after {
 transform: rotate(45deg) translate(-6px, -7px); 
}

.hamburger.is-active .bar {
/*  visibility: hidden; (clicking on the space where the element is will trigger nothing)*/
  opacity: 0;
/*   (clicking on the space where the element is will be triggered)  */
}

.mobile-nav{
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index:3;
  background-color: var(--blue);
  padding-top:  65px;
  margin-top:65px;
  transition: 0.6s;
}

.mobile-nav.is-active{
  left: 0;
}

.mobile-nav a {
  display: block;
  text-align: center;
  margin: 0 auto 16px;
  width: 100%;
  max-width: 300px;
  padding: 12px 16px;
  background-color: white;
  text-decoration: none;
  color: #0a0a0a;
  font-weight:bold;
}

.mobile-nav a:hover {
  background-color: lightblue;
}

/* ************************* >>>>>>>>>>>>>>>>>>>>>>>>> Section Styling (Projects) <<<<<<<<<<<<<<<<<<<<<<<<< ************************* */
/* Path: Body -> Section (.projects) */
/* This section includes styles specific to the .projects section, including grid, figures, captions, buttons, and overlays. */

/* Project Grid Styles */
/* Path: Body -> Section (.projects) -> Project Grid */
/* Description: Styles for the project grid layout and responsive padding. */
.projects { 
  margin: 1rem;
  padding: 1rem; 
}
.projects .project-grid { 
  padding: 2rem 0 4rem; 
}



/* Figure and Image Styles */
/* Path: Body -> Section (.projects) -> Project Grid -> Figure -> Image */
/* Description: Default and hover styles for images within figures in the project grid. */
.projects .project-grid figure img.project-thumb { 
  -webkit-transform: scale(1); 
  transform: scale(1); 
  transition: .5s ease-in-out; 
}

.projects .project-grid figure:hover img { 
  -webkit-transform: scale(1.25); 
  transform: scale(1.25); 
}

/* Figure Styles */
/* Path: Body -> Section (.projects) -> Project Grid -> Figure */
/* Description: Positioning and styling for figures within the project grid. */
.projects .project-grid figure { 
  position: relative; 
  overflow: hidden; 
  border-radius: 12px; 
}

/* Figcaption Styles */
/* Path: Body -> Section (.projects) -> Project Grid -> Figure -> Figcaption */
/* Description: Default and responsive styles for captions within figures. */
.projects .project-grid figure figcaption { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  padding: 0rem 3rem; 
  color: #ffffff; 
  z-index: 1; 
}

/* Title Styles in Figcaption */
/* Path: Body -> Section (.projects) -> Project Grid -> Figure -> Figcaption -> Title */
/* Description: Styling for titles within figcaptions. */
.projects .project-grid figure figcaption h1.title { 
  color: #ffffff; 
  margin-bottom: 1.8rem; 
  font-weight: 500; 
}

/* Button Styles in Figcaption */
/* Path: Body -> Section (.projects) -> Project Grid -> Figure -> Figcaption -> Button */
/* Description: Styles for buttons within figcaptions, including icons. */
.projects .project-grid figure figcaption a.button.is-primary.btn-outlined.btn-rounded { 
  margin: 0 auto; 
  font-size: 18px; 
  padding: 1.2rem; 
  font-weight: 400; 
  border-width: 2px; 
  color: black; 
}

.projects .project-grid figure figcaption a.button.is-primary.btn-outlined.btn-rounded span.icon { 
  margin-top: 4px; 
  margin-left: 0px; 
}

/* Overlay Styles */
/* Path: Body -> Section (.projects) -> Project Grid -> Overlay */
/* Description: Default and hover styles for overlay effects within the project grid. */
.projects .project-grid .overlay, 
.projects .project-grid figcaption { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  opacity: 0; 
  transition: .45s ease-in-out; 
}

.projects .project-grid .overlay { 
  background-color: #141c3a; 
}

.projects .project-grid figure:hover .overlay, 
.projects .project-grid figure:hover figcaption { 
  opacity: 1; 
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded { /* .is-primary.is-outlined.is-rounded */
  margin: 0 auto; 
  font-size: 18px; 
  padding: 1.2rem; 
  font-weight: 400; 
  border-width: 2px; 
  color: #ffffff; 
}


/* FOOTER */

/* ************************* >>>>>>>>>>>>>>>>>>>>>>>>> @media sizes <<<<<<<<<<<<<<<<<<<<<<<<< ************************* */

/* ************************* max-width: 768px ************************* */
@media screen and (max-width: 768px) {
  /* Mobile Nav */
  .nav-bar{
    display: none; 
  }
/* Typography Styles - Responsive */
/* Path: Body -> Typography -> Responsive */
  .is-size-4-mobile { font-size: 2rem; /* title */
  } 

  .screen-display-mobile-1-2-3-4-5-6-7-8-9, 
  .screen-display-tablet-1-2-3-4-5-6-7-8-9, 
  .screen-display-desktop-1-2-3-4-5-6-7-8-9 { 
    flex: none; 
    width: 100%; } 

  .column.is-half-tablet { /* .column */
    flex: none; 
    width: 100%; } 
}
/* ************************* min-width: 769px ************************* */
@media screen and (min-width: 769px), print { 
  /* Mobile Nav */
  .hamburger .bar, .hamburger::after, 
  .hamburger::before{
    display: none; 
  }
/* Figcaption Styles */
/* Path: Body -> Section (.projects) -> Project Grid -> Figure -> Figcaption */
/* Description: Default and responsive styles for captions within figures. */
  .projects .project-grid figure figcaption { 
    padding: 0rem 2rem; 
  } 
/* Project Grid Styles */
/* Path: Body -> Section (.projects) -> Project Grid */
/* Description: Styles for the project grid layout and responsive padding. */
  .projects .project-grid { 
    padding-top: 4rem; 
  }
/* Typography Styles - Responsive */
/* Path: Body -> Typography -> Responsive */
  .is-size-4-mobile { font-size: 2rem; 
  } 

  .column.is-half-tablet { 
  flex: none; 
  width: 50%; } 

  nav.nav-bar .nav-item{
    padding: 40px;
  }
}
/* ************************* max-width: 1023px ************************* */
@media screen and (max-width: 1023px) {
/* Typography Styles - Responsive */
/* Path: Body -> Typography -> Responsive */
  .is-size-4-mobile { font-size: 2rem; } 
}
/* ************************* min-width: 1024px ************************* */
@media screen and (min-width: 1024px) { 
/* Container Styles */
/* Path: Body -> Containers */ 
  .container { 
    max-width: 960px; 
  } 
/* Typography Styles - Responsive */
/* Path: Body -> Typography -> Responsive */ 
  .is-size-3-desktop { font-size: 2rem; } /* title */
  .is-size-5-desktop { font-size: 1.25rem; /* subtitle */
  } 

  .column.is-one-third-desktop { 
  flex: none; 
  width: 33.3333%; 
  }
}
/* ************************* max-width: 1215px ************************* */
@media screen and (max-width: 1215px) {

}
/* ************************* min-width: 1216px ************************* */
@media screen and (min-width: 1216px) { 
  .is-size-4-widescreen { 
  font-size: 3rem; 
} 
}
/* ************************* max-width: 1407px ************************* */
@media screen and (max-width: 1407px) {

}
/* ************************* min-width: 1408px ************************* */
@media screen and (min-width: 1408px) {

}


